@import url(../vendor/normalize.css);

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_header.svg);
  height: 100vh;
  min-height: 900px;
  max-height: 980px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo {
  margin-top: 30px;
  margin-left: -30px;
  margin-bottom: 80px;
}

.nav-links {
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  top: 202px;
  left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-top: 0;
}

.header__description {
  top: 28px;
  left: -80px;
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 670px;
}

.header__image {
  z-index: 1;
  max-width: 636px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: auto;
  margin-bottom: -40px;
  margin-left: -80px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__column {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__footer-heading {
  padding: 0;
  margin: 0;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__list-item {
}

.header__footer_column-address {
}

.header__footer-address {
  margin-right: 80px;
  margin-bottom: -40px;
}

.menu {
  background-color: #0a2750;
  color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  padding-top: 24px;
  max-width: 780px;
  margin: auto;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  gap: 100px;
}

.menu__cards:last-of-type {
  margin-bottom: 0px;
}

.card {
  max-width: 600px;
  width: 45%;
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.card__list-divider::after {
  content: "";
  min-width: 50px;
  border-bottom: 1px solid #d9e7ff;
  margin-left: 8px;
  margin-right: 8px;
  flex-grow: 1;
}

.recipes {
  background-color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item {
  list-style: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.iframe {
  border: none;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}

.reservation__title {
  max-width: 780px;
  text-align: center;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.reservation__form {
  max-width: 780px;
  text-align: center;
  margin: auto;
}

.form__fieldset {
  border: none;
  margin-bottom: 32px;
}

.form__label {
  display: block;
}

.form__label[for="name"] {
  margin-left: -330px;
}

.form__label[for="number"] {
  margin-left: -240px;
  margin-top: -32px;
}

.form__label[for="date"] {
  margin-left: -290px;
  margin-top: -32px;
}

.form__label[for="email"] {
  margin-left: -300px;
  margin-top: -32px;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: none;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"] {
  min-width: 385px;
  min-height: 60px;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: none;
}

.form__button[type="submit"] {
  border-radius: 4px;
  opacity: 100%;
  min-width: 385px;
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  font-size: 18px;
  border: none;
  align-items: center;
  margin-top: -32px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
}

.form__input-checkbox {
  border-radius: 2px;
  margin-bottom: 120px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.about {
  background-color: #0a2750;
  padding: 100px 80px;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 522px;
  z-index: 1;
}

.about__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  margin: 0;
  padding: -100px 0 0 80px;
  max-width: 300px;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}

.about__content {
  position: absolute;
  top: 119px;
  right: 80px;
  padding-bottom: 173px;
  max-width: 650px;
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0 0 32px 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 430px;
  height: 430px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulse 1.3s ease-in-out infinite;
  z-index: 1;
  width: 430px;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 108px 80px;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__column {
}

.footer__logo {
  width: 153px;
  height: 32px;
}

.footer__column_footer__column_social {
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 30px 0;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: 1s linear;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}

.footer__copyrights {
  margin-top: 108px;
  margin-bottom: -60px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
